# Requisitos base do projeto
-r requirements/base.txt

# Framework de testes
pytest>=8.3.3,<9.0.0
pytest-asyncio==0.23.3
pytest-cov==4.1.0
pytest-mock==3.12.0
pytest-env==1.1.5

# Cliente HTTP para testes assíncronos
httpx==0.26.0

# Ferramentas de cobertura e análise de código
coverage==7.3.2

# Migrações e controle de versão do banco de dados
alembic==1.12.1

# Utilitários para testes determinísticos e dados fictícios
freezegun==1.2.2
factory-boy==3.3.0
Faker==19.13.0
